p{
    color: rgb(0, 0, 0);
    background-color: hsl(266, 98%, 51%);
}

h1{
    color: #000000
    background-color:rgb(155, 200, 150)
}

h2{
    color-scheme:red ;
    border-color: rgb(7, 135, 247);
}